/* header {
  display: inline-block;

  margin: 10px auto;
  background-color: #f6e29a;
  border: 5px solid #fff;
  width: 100%;
}

.header-content{
  display: flex;
  justify-content: center;
}

.mainTitle{
  vertical-align: middle;
}

.header-content a{
  display: flex;
  text-decoration: none;
  color: #000;
}

header img{
  width: 100% auto;
  height: 100px;
} */




.header{
color: #20354A;
padding: 2rem 0;

}
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#f6e29a;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  margin-top:35px;

}
header img{
  width: 200px;
  height: 200px;
    color:#EFD96A;

}
.mainSlogan{
width: 700px;
height: 117.85px;
margin-bottom: 25px;
margin-left: -70px;
}
