
.main-ini{
  display: flex;
  border: 5px solid #fff;
  justify-content: space-between;
  width: 100%;
  background-image: url(../images/ini.jpg);
  background-position: center;
  background-size: cover;
  padding: 5px;
}

.col-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ini-h3{
  display: flex;
  padding: 5px;
  color: #000;
}

.ini-h3 li{
  list-style: none;
  margin: 5px;
}


.special{
  background-color: #fff;
  color: #000;
  font-size: 18px;
}

.ini-h3 p{
  margin: auto;
}


.col-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
}
.maintitle {
  color: black;
}
